body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
  height: 100px;
}

.hr-bold {
  color: #7d97ad;
  size: 50;
}

.hr {
  background-color: #7d97ad;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
